<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 class="text-center">Login</h3>
		<hr>
		<%= form_for :user, url: sessions_path, :html => { :multipart => true, :id => "login_form" } do |f| %>
		<div class="form-group">
			<label for="email">Email</label>
			<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
 		</div>
 		<hr>
 		<%= f.submit "Login", class: "btn btn-primary btn-block" %>
 		<% end %>
		<br><br>
	</div>
</div>