<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 class="centered">New Post</h3>
		<hr>
		<%= form_for @post do |f| %>
		<div class="form-group">
			<%= f.text_area :text, placeholder: "Enter post", autofocus: true, class: "form-control" %>
		</div>
		<hr>
		<%= f.submit class: "btn btn-danger btn-block" %>
		<% end %>
		<br><br>
	</div>
</div>