<h1 class="text-center creepy-text">NightMaze</h1>
<div class="content">
	<div id="unityPlayer">
		<div class="missing">
			<a href="//unity3d.com/webplayer/" title="Unity Web Player. Install now!">
				<%= image_tag("getunity.png", :alt => "Unity Web Player. Install now!", :class => "get_unity") %>
			</a>
		</div>
		<div class="broken">
			<a href="//unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
				<%= image_tag("getunityrestart.png", :alt => "Unity Web Player. Install now! Restart your browser after install.", :class => "get_unity") %>
			</a>
		</div>
	</div>
</div>