<h1>About Us!</h1>

<!-- Split in half! posts on one side -->

<% render "postform" %>

<!-- Reference these -->
<ul>
	<li><a href="http://www.sswbelser.com" target="_blank">Sabastian Belser</a></li>
	<li><a href="http://www.codingforsmiles.com" target="_blank">Sean Hill</a></li>
	<li role="separator" class="divider"></li>
	<li><a href="https://github.com/sswbelser/Spider-Den" target="_blank">GitHub</a></li>
	<li><a href="http://unity3d.com/unity/" target="_blank">Made with Unity</a></li>
</ul>

<!-- Posts -->


<!-- Big silly picture -->