// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Amped-For-Evil';
	src: font-url('Amped-For-Evil.ttf.woff') format('woff'),
		 font-url('Amped-For-Evil.ttf.svg#Amped-For-Evil') format('svg'),
		 font-url('Amped-For-Evil.ttf.eot'),
		 font-url('Amped-For-Evil.ttf.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Haunted-Regular';
	src: font-url('Haunted-Regular.ttf.woff') format('woff'),
		 font-url('Haunted-Regular.ttf.svg#Haunted-Regular') format('svg'),
		 font-url('Haunted-Regular.ttf.eot'),
		 font-url('Haunted-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}