body {
	background: url('/images/background.jpg');
	color: white;
}

.centered {
	text-align: center;
}

h1 {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

.navbar_image {
	height: 50px;
	margin-top: -15px;
	border-radius: 25%;
}

#signup-button {
	margin-left: 10px;
	margin-right: 1px;
}

#logout-button {
	margin-right: 1px;
}

.about-div {
	border-right-style: solid;
	text-align: center;
}

.get_unity {
	width: 193;
	height: 63;
}

#githubIcon {
	background-color: black;
	color: red;
	border: 1px solid white;
}

.panel-body {
	color: black;
}

/* jQuery Validation color */
#new_user .error {
    color: red;
}

#login_form .error {
    color: red;
}

#new_post .error {
    color: red;
}

/*#edit-post .error {
    color: red;
}
*//**/

div.content {
	margin: auto;
	width: 960px;
}

div.broken,
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}

div.broken a,
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}

div.broken img,
div.missing img {
	border-width: 0px;
}

div.broken {
	display: none;
}

div#unityPlayer {
	cursor: default;
	height: 600px;
	width: 960px;
	border: 1px solid white;
}

#about-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#about-ul li a {
	color: black;
	text-decoration: underline;
}

.about-image {
	height: 500px;
	border-radius: 25px;
	padding: 1px;
	border: 1px solid white;
}