body {
	text-align: center;
}

h1 {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

.navbar_image {
	height: 50px;
	margin-top: -15px;
	border-radius: 25%;
}

#signup-button {
	margin-left: 10px;
	margin-right: 1px;
}

.get_unity {
	width: 193;
	height: 63;
}

div.content {
	margin: auto;
	width: 960px;
}

div.broken,
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}

div.broken a,
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}

div.broken img,
div.missing img {
	border-width: 0px;
}

div.broken {
	display: none;
}

div#unityPlayer {
	cursor: default;
	height: 600px;
	width: 960px;
	border: 1px solid black;
}