body {
	background: url('/images/background.jpg');
	color: white;
	font-family: 'Haunted-Regular';
}

.modal {
	color: black;
}

.centered {
	text-align: center;
}

.creepy-text {
	font-family: 'Amped-For-Evil';
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

.navbar_image {
	height: 50px;
	margin-top: -15px;
	border-radius: 25%;
}

#signup-button {
	margin-left: 10px;
	margin-right: 1px;
}

#logout-button {
	margin-right: 1px;
}

.about-div {
	border-right-style: solid;
	text-align: center;
}

.get_unity {
	width: 193;
	height: 63;
}

#githubIcon {
	background-color: black;
	color: red;
	border: 1px solid white;
}

#githubIcon:hover {
	background-color: gray;
}

.panel-body {
	color: black;
}

/* jQuery Validation color */
#new_user .error,
#login_form .error,
#new_post .error {
	color: red;
}

/**/

div.content {
	margin: auto;
	width: 960px;
}

div.broken,
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}

div.broken a,
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}

div.broken img,
div.missing img {
	border-width: 0px;
}

div.broken {
	display: none;
}

div#unityPlayer {
	cursor: default;
	height: 600px;
	width: 960px;
	border: 1px solid white;
}

#about-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#about-ul li {
    display: inline;
}

#about-ul li a {
	color: white;
	text-decoration: underline;
}

#about-ul li a.sean {
	margin-right: -50px;
	margin-left: 50px;
}

.about-image {
	height: 400px;
	border-radius: 25px;
	padding: 1px;
	border: 1px solid white;
}